<!-- Top Navigation Bar -->
<nav class="navbar">
  <div class="navbar-logo">
    <span class="logo-text">NINA</span>
    <span class="icon-nina-logo"></span>
  </div>

  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acasa</a>
    <a routerLink="/auctions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Licitatie</a>
    <a routerLink="/sell" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Vanzari</a>
    <a 
      routerLink="/login" 
      [class.active]="isAuthRoute()"
    >Conectare</a>
    <button class="icon-button">
      <span class="icon-bell"></span>
    </button>
  </div>
</nav>

<!-- Main Content -->
<div>
  <router-outlet></router-outlet>
</div>